<%- include('../partials/header.ejs') %>
<div class="w-100 mx-5 mt-2">
    <div>
        <h2 class="display-5 mt-2 mb-3">Hostel Applications </h2>
    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col">Name
            </th>
            <th scope="col">Gender
            </th>
            <th scope="col">Hostel
            </th>
            <th scope="col">Status
            </th>
            <th scope="col" class="text-center">Action</th>
        </tr>
        </thead>
        <tbody>
        <% applications.forEach((application, i)=>{ %>
            <tr>
                <td class="text-break"><span
                            class="d-md-none w-bold">Name : </span><%= application.user.profile.firstName %></td>
                <td class="text-break"><span
                            class="d-md-none w-bold">Gender : </span><%= application.user.profile.gender %></td>
                <td class="text-break"><span
                            class="d-md-none w-bold">Hostel : </span><%= application.hostel.hostelName %></td>
                <td class="text-break"><span
                            class="d-md-none w-bold">Application Status : </span><%= application.status %></td>
                <td class="text-break d-flex justify-content-around"><a class="btn btn-primary"
                                                                        href="./applications/review/<%= application._id %>">View</a>
                    <a class="btn btn-success" href="./applications/review/<%= application._id %>">Accept</a>
                    <a class="btn btn-danger" href="./applications/review/<%= application._id %>">Reject</a></td>
            </tr>
        <% }) %>

        </tbody>

    </table>


    <!--<div class="container">-->
    <!--    <% applications.forEach((application, i)=>{ %>-->

    <!--    <div class="card bg-light">-->
    <!--        <div class="card-header card-dark">-->
    <!--            <%= application.applicationDate %>-->
    <!--        </div>-->
    <!--        <ul class="list-group list-group-flush">-->
    <!--            <li class="list-group-item">Name : <%= application.user.firstName %></li>-->
    <!--            <li class="list-group-item">Gender : <%= application.user.gender %></li>-->
    <!--            <li class="list-group-item">Hostel : <%= application.hostel.hostelName %></li>-->
    <!--x        </ul>-->
    <!--    </div>-->
    <!--    <% }); %>-->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item  <% if(Number(stats.page) <= 1){ %>disabled<% }; %>">
                <a class="page-link" href="./?p=1">First Page</a>
            </li>
            <% for(let i = Number(stats.page) - 3;(i < Number(stats.page) + 3) && (i <= stats.totalPage);i++){if (i < 1) continue; %>
            <li class="page-item <% if(stats.page == i){ %>active<% }; %>"><a class="page-link"
                                                                              href="./?p=<%= i %>"><%= i %></a></li>
            <% }; %>

            <li class="page-item <% if(stats.page ==stats.totalPage){ %>disabled<% }; %>">
                <a class="page-link" href="./?p=<%= stats.totalPage %>">Last Page</a>
            </li>
        </ul>
    </nav>
</div>
</div>
<%- include('../partials/footer.ejs') %>

<!--<div class="list-group">-->
<!--    -->
<!--    <a class="list-group-item list-group-item-action " href="#">-->
<!--        <div class="d-flex justify-content-between"><p>Name : Farhan Sajid</p><p>Gender : Male</p></div>-->
<!--        <p>Hostel :</p>-->
<!--        <div class="d-flex justify-content-between text-muted"><p>Application Date : </p>-->
<!--            <p class="badge bg-primary">Pending</p></div>-->
<!--    </a>-->
<!--</div>-->