<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container-fluid">
    <div class="card">
        <div class="card-header"><h5>Applications<h4></div>
        <div class="card-body">
    <table class="table">
        <thead class="table-light">
        <tr>
            <th scope="col">Name
            </th>
            <th scope="col">Gender
            </th>
            <th scope="col">Hostel
            </th>
            <th scope="col">Status
            </th>
            <th scope="col" class="text-center w-25" >Action</th>
        </tr>
        </thead>
        <tbody>
        <% applications.forEach((application, i)=>{ %>
            <tr>
                <td class="text-break"><span
                            class="d-md-none w-bold">Name : </span><%= application.user.profile.firstName %></td>
                <td class="text-break"><span
                            class="d-md-none w-bold">Gender : </span><%= application.user.profile.gender %></td>
                <td class="text-break"><span
                            class="d-md-none w-bold">Hostel : </span><%= application.hostel  %></td>
                <td class="text-break"><span
                            class="d-md-none w-bold">Application Status : </span><%= application.status %></td>
                <td class="text-break d-flex justify-content-around"><a class="btn bg-gradient btn-primary"
                                                                        href="./applications/review/<%= application._id %>">View</a>
                    <a class="btn bg-gradient btn-success" href="./applications/review/<%= application._id %>">Accept</a>
                    <a class="btn bg-gradient btn-danger" href="./applications/review/<%= application._id %>">Reject</a></td>
            </tr>
        <% }) %>

        </tbody>

    </table>



    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <li class="page-item  <% if(Number(stats.page) <= 1){ %>disabled<% }; %>">
                <a class="page-link" href="?p=1">First Page</a>
            </li>
            <% for(let i = Number(stats.page) - 3;(i < Number(stats.page) + 3) && (i <= stats.totalPage);i++){if (i < 1) continue; %>
            <li class="page-item <% if(stats.page == i){ %>active<% }; %>"><a class="page-link"
                                                                              href="?p=<%= i %>"><%= i %></a></li>
            <% }; %>

            <li class="page-item <% if(stats.page ==stats.totalPage){ %>disabled<% }; %>">
                <a class="page-link" href="?p=<%= stats.totalPage %>">Last Page</a>
            </li>
        </ul>
    </nav>
        </div>
    </div>
</div>

</main>
<%- include('./partials/footer.ejs') %>

<!--<div class="list-group">-->
<!--    -->
<!--    <a class="list-group-item list-group-item-action " href="#">-->
<!--        <div class="d-flex justify-content-between"><p>Name : Farhan Sajid</p><p>Gender : Male</p></div>-->
<!--        <p>Hostel :</p>-->
<!--        <div class="d-flex justify-content-between text-muted"><p>Application Date : </p>-->
<!--            <p class="badge bg-primary">Pending</p></div>-->
<!--    </a>-->
<!--</div>-->