<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<main>
    <%- include('./partials/sidebar.ejs') %>
    <div class="content">
        <%- include('./partials/notification.ejs') %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <% if(!user.seat){ %>
                        <div class="card">
                            <div class="card-header">
                                <h5>Assign Seat</h5>
                            </div>
                            <div class="card-body">
                                <form action="/admin/book-seat" method="post">
                                    <div class="row py-2">
                                        <div class="col-12">
                                            <select class="form-control" id="selectHostel">
                                                <option value="" disabled selected>Select Hostel</option>
                                            </select>
                                            <script>
                                                $(function () {
                                                    const hostelList = $("#selectHostel");
                                                    $.ajax({
                                                        type: "POST",
                                                        url: `/admin/hostel/query?getHostels=all`,
                                                        dataType: "json",
                                                        success: function (result) {
                                                            hostelList.find('option').remove()
                                                            hostelList.append('<option value="" disabled selected>Select Hostel</option>')
                                                            result.forEach((item) => {
                                                                var str = `<option value=\"${item._id}\">${item.hostelName}</option>`
                                                                hostelList.append(str)
                                                            })
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log(error)
                                                        }
                                                    })
                                                });
                                            </script>

                                        </div>
                                    </div>

                                    <div class="row my-3">
                                        <div class="col-6">
                                            <select class="form-control" id="selectRoom">
                                                <option value="" disabled selected>Select Room</option>
                                            </select>
                                            <script>
                                                $("#selectHostel").change(function () {
                                                    const roomList = $("#selectRoom");
                                                    $.ajax({
                                                        type: "POST",
                                                        url: `/admin/hostel/query?getRooms=${$(this).val()}`,
                                                        dataType: "json",
                                                        success: function (result) {
                                                            console.log(result)
                                                            roomList.find('option').remove()
                                                            roomList.append('<option value="" disabled selected>Select Room</option>')
                                                            result.forEach((item) => {
                                                                var str = `<option value=\"${item._id}\">${item.roomName}</option>`
                                                                roomList.append(str)
                                                            })
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log(error)
                                                        }
                                                    })
                                                });
                                            </script>
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control" name="seat" id="selectSeat">
                                                <option value="" disabled selected>Select Seat</option>
                                            </select>
                                            <script>
                                                $("#selectRoom").change(function () {
                                                    const seatList = $("#selectSeat");
                                                    $.ajax({
                                                        type: "POST",
                                                        url: `/admin/hostel/query?getSeats=${$(this).val()}`,
                                                        dataType: "json",
                                                        success: function (result) {
                                                            console.log(result)
                                                            console.log("Hi")
                                                            seatList.find('option').remove()
                                                            seatList.append('<option value="" disabled selected>Select Seat</option>')
                                                            result.forEach((item) => {
                                                                var str = `<option value=\"${item._id}\">${item.seatName}</option>`
                                                                seatList.append(str)
                                                            })
                                                        },
                                                        error: function (xhr, status, error) {
                                                            console.log("Error")
                                                        }
                                                    })
                                                });
                                            </script>
                                        </div>

                                    </div>

                                    <input type="hidden" value="<%= user._id %>" name="user">
                                    <div class="row my-4 mx-1">
                                        <button type="submit" class="btn bg-gradient btn-success">Assign Seat</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <% }else { %>
                        <div class="card">
                            <div class="card-header">
                                <h5>Revoke Seat</h5>
                            </div>
                            <div class="card-body">
                                <form action="/admin/cancel-seat" method="post">

                                    <p class="text-muted">This user is currently assigned to
                                        seat <%= user.seat.seatName %></p>
                                    <p class="text-muted">Do you want to release the seat?</p>
                                    <input type="hidden" name="userId" value="<%= user._id %>">
                                    <button class="btn btn-danger bg-gradient btn-block w-100" type="submit">Cancel
                                        Seat
                                    </button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h5>Actions<h4>
                        </div>
                        <div class="card-body">

                            <button class="btn btn-primary bg-gradient btn-block my-2 w-100" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#addBalanceForm" aria-expanded="false"
                                    aria-controls="addBalanceForm">Add Balance
                            </button>
                            <div class="collapse" id="addBalanceForm">
                                <div class="card card-body">
                                    <form action="/admin/user/<%= user._id %>/add-balance" method="post">
                                        <div class="form-label">
                                            Enter Amount:
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <input type="text" name="amount" class="form-control">
                                            </div>
                                            <div class="col-sm-4 ">
                                                <button type="submit"
                                                        class="btn btn-success bg-gradient  btn-block w-100">Add
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button class="btn btn-secondary bg-gradient btn-block my-2 w-100" type="buttons"
                                    data-bs-toggle="collapse" data-bs-target="#changePackageForm" aria-expanded="false"
                                    aria-controls="changePackageForm">Change Package
                            </button>
                            <div class="collapse" id="changePackageForm">
                                <div class="card card-body">
                                    <form action="/admin/user/<%= user._id %>/change-package" method="post">
                                        <div class="form-label">
                                            Select Package:
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <select class="form-select" name="package" required>
                                                    <option value="standard"
                                                            <% if(user.package == "standard") { %>selected
                                                            <% }; %>
                                                    >Standard
                                                    </option>
                                                    <option value="premium"
                                                            <% if(user.package == "premium") { %>selected
                                                            <% }; %>
                                                    >Premium
                                                    </option>
                                                    <option value="luxury"
                                                            <% if(user.package == "luxury") { %>selected
                                                            <% }; %>
                                                    >Luxury
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 ">
                                                <button type="submit"
                                                        class="btn btn-success bg-gradient  btn-block w-100">Change
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <button class="btn btn-danger bg-gradient btn-block my-2 w-100" type="submit">Disable
                                Account
                            </button>

                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>User Info<h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">First Name</label>
                                    <input type="text" class="form-control" value="<%= user.profile.firstName %>"
                                           disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Last Name</label>
                                    <input type="text" class="form-control" value="<%= user.profile.lastName %>"
                                           disabled>
                                </div>

                                <div class="col-md-6">
                                    <label class="form-label">Email Address</label>
                                    <input type="email" class="form-control" value="<%= user.email %>" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Phone Number</label>
                                    <input type="tel" class="form-control"
                                           value="<%= user.profile.contact.phoneNumber %>" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Gender</label>
                                    <select class="form-select" disabled>
                                        <option value="male" <% if(user.profile.gender == "male") { %>selected
                                                <% }; %>
                                        >Male
                                        </option>
                                        <option value="female" <% if(user.profile.gender == "female") { %>selected
                                                <% }; %>
                                        >Female
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Date of Birth</label>
                                    <input type="date" class="form-control" value="<%= user.profile.dob %>" disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Balance</label>
                                    <input type="text" class="form-control"
                                           value="<%= user.balance %>"
                                           disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Package</label>
                                    <input type="text" class="form-control"
                                           value="<%= user.package %>"
                                           disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Permanent Address</label>
                                    <input type="text" class="form-control"
                                           value="<%= user.profile.contact.permanentAddress %>"
                                           disabled>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Assigned Seat</label>
                                    <input type="text" class="form-control"
                                           value="<% if(user.seat){ let details = `Seat : ${user.seat.seatName} , Room : ${user.seat.roomName} , Hostel : ${user.seat.hostelName}` %><%= details %>
                <% } else { %>Unavailable
                <% } %>"

                                           disabled>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
