<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<main>
    <%- include('./partials/sidebar.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header"><h5>New Application<h4></div>
                <div class="card-body">
    <form class="row g-3 my-2 pb-3" action="/user/apply" method="post">
        <div class="col-md-6">
            <label class="form-label">Select Hostel : </label>

            <select class="form-select" name="hostelName" required>
                <option value="" disabled selected>Select Hostel</option>
                <% hostels.forEach((hostel)=>{ %>
                    <option value="<%= hostel.hostelName%>"><%= hostel.hostelName%></option>
                <% })%>
            </select>

        </div>



        <hr class="my-5"/>
        <h2>Applicant Info: </h2>
        <div class="col-12 form-text text-danger">To change any of your info, update your profile.</div>
        <div class="col-md-6">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" value="<%= user.profile.firstName %>" disabled>
        </div>
        <div class="col-md-6">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" value="<%= user.profile.lastName %>" disabled>
        </div>
        <div class="col-md-6">
            <label class="form-label">Email Address</label>
            <input type="email" class="form-control" value="<%= user.email %>" disabled>
        </div>
        <div class="col-md-6">
            <label class="form-label">Phone Number</label>
            <input type="tel" class="form-control" value="<%= user.profile.contact.phoneNumber %>" disabled>
        </div>
        <div class="col-md-6">
            <label class="form-label">Gender</label>
            <select class="form-select"  disabled>
                <option value="male" <% if(user.profile.gender == "male") { %>selected
                        <% }; %>
                >Male
                </option>
                <option value="female" <% if(user.profile.gender == "female") { %>selected
                        <% }; %>
                >Female
                </option>
            </select>
        </div>
        <div class="col-md-6">
            <label class="form-label">Date of Birth</label>
            <input type="date" class="form-control" name="dob" value="<%= user.profile.dob %>" disabled>
        </div>

        <div class="col-md-12">
            <label class="form-label">Permanent Address</label>
            <input type="text" class="form-control" value="<%= user.profile.contact.permanentAddress %>" disabled>
        </div>
        <div class="col-md-12">
            <label class="form-label">Message: </label>
            <input type="text" class="form-control" name="note"  >
        </div>
        <button class="btn btn-success" type="submit">Send Application</button>
    </form>
</div>
</div>
</div>

<%- include("./partials/footer.ejs") %>