<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<main>
    <%- include('./partials/sidebar.ejs') %>
    <div class="content">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <div class="text-muted">
                                Seat
                            </div>
                            <h4>
                                <% if(user.seat){ let details = `Seat : ${user.seat.seatName} Room : ${user.seat.roomName} Hostel : ${user.seat.hostelName}` %>
                                <span data-bs-toggle="tooltip" data-bs-placement="top" title="<%= details %>">
                        <%= user.seat.seatName %>
                    </span>

                                <% } else { %>
                                    Unavailable
                                <% } %>
                            </h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <div class="text-muted">
                                Balance
                            </div>
                            <h4><%= user.balance %></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <div class="text-muted">
                                Package
                            </div>
                            <h4><%= user.package?user.package:"Unavailable" %></h4>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <div class="text-muted">
                                Applications
                            </div>
                            <h4><%= user.applications.length %></h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Pending Applications<h4>
                        </div>
                        <div class="card-body">

                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Name
                                    </th>
                                    <th scope="col">Gender
                                    </th>
                                    <th scope="col">Hostel
                                    </th>
                                    <th scope="col">Status
                                    </th>
                                    <th scope="col" class="text-center w-25">Action</th>
                                </tr>
                                </thead>
                                <tbody>

                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <%- include('./partials/footer.ejs') %>
